@import './base.css';

@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
    @tailwind variants;
}

:root {
    --body-bg: var(--p-surface-50);
    --body-text-color: var(--p-surface-900);
    --card-border: 1px solid var(--border-color);
    --card-bg: var(--p-surface-0);
    --border-color: var(--p-surface-200);
    --text-color: var(--p-surface-700);
    --overlay-background: #ffffff;
}

:root[class='p-dark'] {
    --body-bg: var(--p-surface-950);
    --body-text-color: var(--p-surface-50);
    --card-border: 1px solid transparent;
    --card-bg: var(--p-surface-900);
    --border-color: rgba(255, 255, 255, 0.1);
    --text-color: var(--p-surface-0);
    --overlay-background: var(--p-surface-900);
}

/* fix different select size */
.p-select{
    max-height: 43.59px;
}

.p-menu-end{
    position: absolute;
    bottom:5px;
}

.p-menu-item{
    /* border-radius:45px; */
    margin:5px 8px;
}

.p-menu-item-content{
    width: 40px;
    height:40px;
    /* padding:4px 0; */
    border-radius:45px; 
}

.p-menubar-separator{
    border-width:1px;
    border-color: black;
}
.p-menu-item.p-focus .p-menu-item-content {
    background:#fff;
}